h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

label {
  display: inline-block;
  width: 100%;
}

#paypal-radio {
  display: inline-block;
  vertical-align: middle;
}

#mybank-mark {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#paypal-mark {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#paypal-fields {
  margin: 20px 0;
}

body {
  max-width: 35em;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mybank-container {
  padding-top: 1rem;
}

#paypal-btn {
  margin-top: 1rem;
}
